---
import { getUtilityNavigation, isNavigationActive } from "../../i18n/routes";
import type { AlternateUrls, Locale } from "../../i18n/types";
import { translate } from "../../i18n/utils";
import LanguageSwitcher from "../LanguageSwitcher.astro";
import ThemeToggle from "../ThemeToggle.astro";

interface Props { currentPath: string; locale: Locale; alternateUrls?: AlternateUrls }
const { currentPath, locale, alternateUrls } = Astro.props;
const utilityNavigation = getUtilityNavigation(locale);
---

<div class="utility-nav" aria-label={translate(locale, "a11y.siteUtilities")}>
  {utilityNavigation.map((item) => (
    <a href={item.href} data-navigation-id={item.id} aria-current={isNavigationActive(currentPath, item.href) ? "page" : undefined}>
      {item.label}
    </a>
  ))}
  <LanguageSwitcher locale={locale} currentPath={currentPath} alternateUrls={alternateUrls} />
  <ThemeToggle locale={locale} />
</div>
