---
import HeroShell from "../layout/HeroShell.astro";
import { profile } from "../../data/profile";
import { getLocalizedData } from "../../data/locales";
import { mediaManifest } from "../../data/mediaManifest";
import ResponsiveArtwork from "../media/ResponsiveArtwork.astro";
import type { Locale } from "../../i18n/types";
import { getLocalePath, translate } from "../../i18n/utils";
interface Props { locale: Locale; currentFocus?: string }
const { locale, currentFocus } = Astro.props;
const data = getLocalizedData(locale);
const artwork = mediaManifest.homeResearchConstellation;
---

<HeroShell class="identity-hero" labelledby="home-title">
  <div class="identity-hero__copy">
    {data.profile.location && <p class="eyebrow">{data.profile.location}</p>}
    <h1 id="home-title">{profile.displayName}</h1>
    <p class="identity-hero__headline">{data.profile.headline}</p>
    <p class="identity-hero__bio">{data.profile.shortBio}</p>
    <div class="identity-hero__actions">
      <a class="button button--primary" href={getLocalePath(locale, "/research/")}>{translate(locale, "home.viewResearch")}</a>
      <a class="button" href={getLocalePath(locale, "/blog/")}>{translate(locale, "home.readWriting")}</a>
    </div>
    {currentFocus && <p class="identity-hero__focus"><span>{translate(locale, "home.currentFocus")}</span>{currentFocus}</p>}
  </div>
  <figure class="identity-hero__art media-frame">
    <ResponsiveArtwork asset={artwork} locale={locale} eager />
  </figure>
</HeroShell>
