---
import { profile } from "../data/profile";
import DesktopNav from "./navigation/DesktopNav.astro";
import MobileNav from "./navigation/MobileNav.astro";
import UtilityNav from "./navigation/UtilityNav.astro";

const currentPath = Astro.url.pathname;
---

<header class="site-header">
  <div class="site-header__inner">
    <a class="site-header__brand" href="/" aria-label={`${profile.siteName} home`}>
      <span class="site-header__name">{profile.siteName}</span>
      <span class="site-header__role">{profile.headline}</span>
    </a>
    <DesktopNav currentPath={currentPath} />
    <UtilityNav currentPath={currentPath} />
    <MobileNav currentPath={currentPath} />
  </div>
</header>
